cc65/
temp/a2f_cc65_lib/
temp/a2f_disk_lib/
temp/a2f_tape_lib/
temp/*.o
temp/*.s
temp/*.dbg
temp/*.map
temp/*.lst
temp/*.sym
temp/*.bin
temp/*.dsk
temp/*.wav
temp/c/
*.lnk
run*.bat
# Make for Windows: http://gnuwin32.sourceforge.net/packages/make.htm
make.exe
libiconv2.dll
libintl3.dll
